body{
    background-color: #555e69;
}

#container{
    width:960px;
    margin:auto;
    background-color: beige;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

header{
    background-image: url(../images/banner2.jpg);
   
    background-repeat: no-repeat;
    background-size: 960px;
    border-radius: 15px 15px 0px 0px;
    height:200px;
    width:960px;

}

#logo{
    
    background-image: url(../images/logo.png);
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    background-color: white;
    float:left;
    margin-top: 25px;
    margin-left: 25px;
    border-radius:5px;
    border: 1px solid black;
}

#webname{
    width:380px;
    float:left;
    margin-top: 20px;
    margin-left: 50px;
    font-family: motor;
    font-size: 50px;
    color: white;
     outline: grey;
    -webkit-text-stroke: 2px #000;
     -moz-text-stroke: 2px #000;
}

#login{
    width: 150px;
    float:left;
    margin-left: 30px;
    margin-top: 40px;
    
}


@font-face{
    font-family: motor;
    src:url("../fonts/motorfont.ttf");
}

aside{
    width: 18%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    
}

aside h2{
    margin-left: 15px;
}

nav, #deals{
    width:100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: burlywood;
    margin-bottom: 15px;
}



#main{
    width:75.75%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: burlywood;
    float:right;
    margin-right: 2%;
    margin-top:2%;
}

#main h2{
    text-align: center;
}

#main img{
    width:500px;
    height: 350px;
}


#main section article p{
    text-align: justify;
    width: 95%;
    margin:auto;
}

#main section article table{
    margin: auto;
}
#main section article ul{
    text-align: center;
}

#main iframe{
    width:75%;
    margin-left: 12.5%;
}

section{
    margin-bottom: 20px;
}

footer{
    clear: both;
    padding-top: 20px;
    text-align: center;
}

footer ul{
    width: 960px;
}

footer li{
    padding-right: 50px;
    float: left;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

aside li{
   padding-bottom: 5px;
}

a:hover{
    font-style: italic;
    font-size: 18px;
    color: crimson;
}









